*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: unset;
  align-items: unset;
  max-width: 100%;
  padding: 0;
  flex-direction: row;
  position: relative;
}

.container-fluid .col__1 {
  flex-basis: 100%;
  min-width: 0;
  padding: 10px;
  margin: 0px;
  background: green;
}
.container-fluid .col__1:first-child {
  margin-left: 0;
}
.container-fluid .col__1:last-child {
  margin-right: 0;
}

.container-jumbo-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: unset;
  align-items: unset;
  max-width: 100%;
  padding: 0;
  flex-direction: row;
  position: relative;
}
.container-jumbo-home .col__sx {
  flex: 1 1 40%;
  min-width: auto;
  padding: 0px;
  margin: 0px;
  background: #ff000000;
}
.container-jumbo-home .col__sx:first-child {
  margin-left: 0;
}
.container-jumbo-home .col__sx:last-child {
  margin-right: 0;
}
.container-jumbo-home .col__dx {
  flex: 1 1 60%;
  min-width: auto;
  padding: 0px;
  margin: 0px;
  background: #ff000000;
}
.container-jumbo-home .col__dx:first-child {
  margin-left: 0;
}
.container-jumbo-home .col__dx:last-child {
  margin-right: 0;
}

.container-cosa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 2rem;
  flex-direction: column;
  position: relative;
}

/*
CONTAINER (name, maxwidth, padding, justify-content, align-items, direzione)
COL (numero colonne, min-width, padding, margin, background-color
)
COL CUSTOM ($nome, $porzione:0.5, $minwidth:auto, $pads:0, $margs:0, $background: #ff000000)
*/
.main-image-home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-title {
  font-family: "BIZ UDPMincho", serif;
  font-size: 14rem;
  color: #db6b00;
  letter-spacing: -29px;
  max-width: 730px;
  font-weight: bold;
  line-height: 0.9;
}

.navwrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.navwrapper nav ul {
  display: flex;
  border: 1px solid;
  padding: 12px;
}
.navwrapper nav li {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
}
.navwrapper nav li a {
  color: #1a1a1a;
}

section.container-cosa {
  background: white;
  margin-top: 10rem;
}
section.container-cosa p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 23px;
}

/*# sourceMappingURL=style.css.map */
