@mixin col($numeroColonne: 5, $minwidth: auto, $pads: 0, $margs: 0) {
  .col__#{$numeroColonne} {
    flex-basis: (100% / $numeroColonne);
    min-width: $minwidth;
    padding: $pads;
    margin: $margs;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin col-custom($nome, $porzione: 0.5, $minwidth: auto, $pads: 0, $margs: 0) {
  .col__#{$nome} {
    flex: (1 1 (100% * $porzione));
    min-width: $minwidth;
    padding: $pads;
    margin: $margs;
    position: relative;
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
