@mixin container(
    $maxwidth: 100%,
    $padding: 0,
    $justify: unset,
    $align: unset,
    $direction: row) {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0 auto;
        justify-content: $justify;
        align-items: $align;
        max-width: $maxwidth;
        padding: $padding;
        flex-direction:$direction;

  }
  

  
